<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

