

body {margin:0;}
de kleur en rand van menu
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
} 
kant waar het menu zich bevind

li {
  float: left;
}
kleur etc van menu
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
beweging als je met muis erover heen gaat
li a:hover:not(active) {
  background-color: black;
}
kleur 
.active {
  background-color: seagreen;
}




